<form [formGroup]="form">
<div class="search-block"><app-search-field formControlName="search"></app-search-field></div>

<div class="cat-filter-block" *ngIf="(categories$ | async) as categories">
  <div class="filter-label">Categories</div>
  <mat-select formControlName="category" class="filter" >
    <mat-option *ngFor="let category of categories" class="filter-block">{{ category }}</mat-option>
  </mat-select>
</div>
</form>

<ng-container *ngIf="(notes$ | async) as notes; else noNotes">
  <mat-list>
    <mat-list-item class="list-item" *ngFor="let n of notes; let i = index">
      <div class="tools">
        <mat-icon (click)="editNote(n.id, n)">edit</mat-icon>
        <mat-icon (click)="deleteNote(n.id)">delete</mat-icon>
      </div>
      <span class="noteText">{{ n.note }}</span>
      <span *ngIf="n.dueDate">(Due: {{ n.dueDate | date }})</span>
    </mat-list-item>
  </mat-list>
</ng-container>

<ng-template #noNotes>
  <p class="no-notes">
    <i>No notes</i>
  </p>
</ng-template>

<div class="add-block">
  <button mat-button (click)="newNote()">Add Note</button>
</div>
